<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NEO Hosted Kubernetes</title>

  <!-- Bootstrap core CSS -->
  <link href="https://rifqim.github.io/neo-k8s-lab/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://rifqim.github.io/neo-k8s-lab/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://rifqim.github.io/neo-k8s-lab/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <!-- <link rel="stylesheet" href="device-mockups/device-mockups.min.css"> -->

  <!-- Custom styles for this template -->
  <link href="https://rifqim.github.io/neo-k8s-lab/css/new-age.min.css" rel="stylesheet">

<style>
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #2bab7e;
    border-radius: 5px;
       color: #fff;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
</style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
     <img src="https://rifqim.github.io/neo-k8s-lab/img/bgn-bw.svg"> <a class="navbar-brand js-scroll-trigger" href="#page-top">&nbsp; NEO Hosted Kubernetes</a> 
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Reliable, efficient, and Maintenance-free Kubernetes Infrastructure</h1>
<h2>Choose your Login:</h2>

    {{ range $provider := .Providers }}
      <div>
        {{ if eq $provider.Name "anypassword" }}
          <a href="{{$provider.URL}}">Log in</a> with any username and password
        {{ else }}
          <a href="{{$provider.URL}}">{{$provider.Name}}</a>
        {{ end }}
      </div>
    {{ end }}

</br></br>
            <a target="_blank" href="https://portal.biznetgio.com/user/register" class="btn btn-outline btn-xl js-scroll-trigger">Register Now for Free!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
                  <img src="https://rifqim.github.io/neo-k8s-lab/vendor/bootstrap/illustration-user.svg" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <footer>
    <div class="container">
      <p>Experimental Product - &copy; PT Biznet Gio Nusantara 2021. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-privacy-policy" target="_blank">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-usage-policy" target="_blank">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-usage-policy" target="_blank">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://rifqim.github.io/neo-k8s-lab/vendor/jquery/jquery.min.js"></script>
  <script src="https://rifqim.github.io/neo-k8s-lab/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://rifqim.github.io/neo-k8s-lab/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://rifqim.github.io/neo-k8s-lab/js/new-age.min.js"></script>

</body>

</html>

