<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NEO Hosted Kubernetes</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <!-- <link rel="stylesheet" href="device-mockups/device-mockups.min.css"> -->

  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">

<style>
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #2bab7e;
    border-radius: 5px;
       color: #fff;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
</style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
     <img src="img/logo-biznetgio-beta.svg"> <a class="navbar-brand js-scroll-trigger" href="#page-top">&nbsp; NEO Hosted Kubernetes</a> 
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Client Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#cta">Manage k8s</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Reliable, efficient, and Maintenance-free Kubernetes Infrastructure</h1>
<h2>Choose your Login:</h2>

    {{ range $provider := .Providers }}
      <div>
        {{ if eq $provider.Name "anypassword" }}
          <a href="{{$provider.URL}}">Log in</a> with any username and password
        {{ else }}
          <a href="{{$provider.URL}}">{{$provider.Name}}</a>
        {{ end }}
      </div>
    {{ end }}

</br></br>
            <a target="_blank" href="https://portal.biznetgio.com/user/register" class="btn btn-outline btn-xl js-scroll-trigger">Register Now for Free!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
                  <img src="vendor/bootstrap/illustration-user.svg" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Download Kubernetes Client Tools Now!</h2>
          <p>Our Kubernetes clent tools is available on Windows, Mac and Linux Platform! Download now to get started!</p>
          <div class="badges">
            <a class="badge-link" href="https://downloads-openshift-console.apps.paas.arch.biznetgio.xyz/amd64/windows/oc.zip"><img src="img/Windows_logo_-_2012.png" alt=""></a>
            <a class="badge-link" href="https://downloads-openshift-console.apps.paas.arch.biznetgio.xyz/amd64/mac/oc.zip"><img src="img/apple-mac-cosmetic-png-logo-8.png" alt=""></a>
            <a class="badge-link" href="https://downloads-openshift-console.apps.paas.arch.biznetgio.xyz/amd64/linux/oc.tar"><img src="img/72d1f12edf758d24f5b6db73bac4f297-linux-logo-by-vexels.png" alt=""></a><p/><br/>


 <a target="_blank" href="https://docs.okd.io/latest/cli_reference/openshift_cli/getting-started-cli.html" class="btn btn-outline btn-xl js-scroll-trigger">Getting started with CLI</a>



          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Focus on Code, We take care your Infrastructure</h2>
        <p class="text-muted">NEO Hosted Kubernetes is a one-stop solution to integrate Kubernetes into your business. Eliminate complexity starting from implementation to managing Kubernetes clusters. Easily run Kubernetes on the scalable and highly-available environment and grow your service at ease. </p>
<br/>
<blockquote>
                  <p class="blockquote">Reducing the hassle for planning and implementing Kubernetes by aligning with your business objectives and deliver the detailed Kubernetes architecture design along with the seamless implementation</p>
<br/>
                  <p class="blockquote">Let your containerized application runs at scale, and our cloud expert provides extensive monitoring on your Kubernetes cluster, logs, and reports over the time to ensure your Kubernetes environment runs smoothly.</p>
<br/>
                  <p class="blockquote">Using any kind of CI/CD platform such as Jenkins and Ansible with the best scenario to ensure CI/CD pipeline runs smoothly.</p>
   </blockquote>

        <hr>

      </div>


      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container"> <!--
            <div class="device-mockup iphone6_plus portrait black">
              <div class="device">

                <div class="screen">

                  <img src="https://www.biznetgio.com/assets/images/news/kubernetes_platform_andal_untuk_melakukan_transformasi_ke_teknologi.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Seamless Design to Implementation</h3>
                  <p class="text-muted">Reducing the hassle for planning and implementing Kubernetes by aligning with your business objectives and deliver the detailed Kubernetes architecture design along with the seamless implementation</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Proactive Cluster Monitoring</h3>
                  <p class="text-muted">Let your containerized application runs at scale, and our cloud expert provides extensive monitoring on your Kubernetes cluster, logs, and reports over the time to ensure your Kubernetes environment runs smoothly.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Resource Efficiency</h3>
                  <p class="text-muted">Maximize your resource usage by transforming to microservice using Kubernetes. Our cloud expert will help to determine the most optimized computing resources needed by each application and instances across the cluster.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>CI/CD Performance at Best</h3>
                  <p class="text-muted">Using any kind of CI/CD platform such as Jenkins and Ansible with the best scenario to ensure CI/CD pipeline runs smoothly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>



  <section class="cta" id="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Need Dedicated Kubernetes?<br>We Ready to Help You</h2>
        <a target="_blank" href="https://kubernetes.biznetgio.com/" class="btn btn-outline btn-xl js-scroll-trigger">Biznet Gio Managed Kubernetes</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fas fa-heart"></i>
        new friends, Follow us on</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="https://twitter.com/biznetgiocloud">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="https://www.facebook.com/biznetgiocloud/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="https://www.instagram.com/biznetgiocloud/" target="_blank">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="https://www.youtube.com/channel/UCnT5DraeYqphxlpBhGTZeSA" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item social-twitter">
          <a href="https://t.me/yusufhadiwinata" target="_blank">
            <i class="fab fa-telegram"></i>
          </a>
        </li>
      </ul>
<br/>
As a Silver Member of The Linux Foundation and the Cloud Native Computing Foundation (CNCF) based in Indonesia,  Biznet Gio Cloud ensures your version of Kubernetes supports the required API to enables interoperability from one Kubernetes installation to the next and easily migrate your existing cluster to Biznet Gio Cloud. <p/> <p/>
<img src="img/b19a9511-bdbb-40be-86b4-adbfec03649b.png" width="55%">
<img src="img/c1777a01-1c92-4683-8493-d9bd5c0d7c96.png" width="25%">

    </div>
  </section>

  <footer>
    <div class="container">
      <p>Experimental Product - &copy; PT Biznet Gio Nusantara 2021. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-privacy-policy" target="_blank">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-usage-policy" target="_blank">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.biznetgio.com/legal#nav-usage-policy" target="_blank">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>

